<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/productos/alta-productos.html">
<link rel="import" href="/src/usuarios/alta-usuarios.html">
<link rel="import" href="/src/polymer/polymer-bootstrap.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <style include="polymer-bootstrap">
      :host {
        display: block;
      }
    </style>
    <div class="container" hidden$={{registrado}}>
      <div class="row" hidden$={{logado}}>
          <label>USUARIO:</label>
          <input type="text" class="form-control" placeholder="Ingrese usuario M" value="{{usuario::input}}">
      </div>
      <div class="row" hidden$={{logado}}>
          <label>PASSWORD: </label>
          <input type="password" class="form-control" placeholder="Ingrese contraseña" value="{{password::input}}">
      </div>
      <div class="row" hidden$={{logado}}>
        <h5></h5>
        <button on-click="registerUser" type="button" class="btn btn-link" id="loginLink">Registrate</button>
        <button on-click="login" type="button" name="button" class="btn btn-primary btn-lg btn-block">Ingresar</button>
      </div>
      <div class="row" hidden$={{!logado}}>
        <alta-producto></alta-producto>
      </div>
    </div>
    <div class="container">
      <div class="row" hidden$={{!registrado}}>
        <alta-usuario></alta-usuario>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          registrado:{
            type:Boolean,
            value:false
          }
        };
      }

      login(){
        var loginData = {"usuario": this.usuario , "password":this.password};
        console.log("DATA: "+JSON.stringify(loginData));
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("variables: "+this.logado+" - "+this.registrado);
      }

      registerUser(){
        if(!this.logado){
            this.registrado=true;
            this.logado=false;
        }
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log("Response: "+data.detail.response);
        this.logado=true;
        console.log("LOGADO: "+this.logado+" REGISTRADO: "+this.registrado);
      }

      showError(error){
        console.log("Hubo un error");
        alert("Datos Ingresados incorrectos, valide");
        console.log(error);
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
