<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/polymer/polymer-bootstrap.html">

Access-Control-Allow-Origin: *

<dom-module id="alta-producto">
  <template>
    <style include="polymer-bootstrap">
      :host {
        display: block;
      }
    </style>
    <div class="contaier">
      <div class="form-group" hidden$={{logado}}>
        <h4>Alta Producto Estructurado</h4>
        <button type="button" class="btn btn-success">Ver mapa</button>
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Estrategia:</label>
          <input type="input" class="form-control" value="{{estrategia::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Serie:</label>
          <input type="input" class="form-control" value="{{serie::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Monto Emitido:</label>
          <input type="number" class="form-control" value="{{emitido::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Monto Colocado:</label>
          <input type="number" class="form-control" value="{{colocado::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Fecha Emision:</label>
          <input type="date" class="form-control" value="{{femision::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
        <h5></h5>
        <button on-click="registro" type="button" name="button" class="btn btn-primary btn-lg btn-block">Registro</button>
      </div>
      <div class="row" hidden$={{!logado}}>
        <span>Producto Registrado</span>
      </div>
    </div>

    <iron-ajax
      id="doRegister"
      url="http://localhost:3000/productos/alta"
      content-type="application/json"
      crossDomain: true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaProducto extends Polymer.Element {
      static get is() { return 'alta-producto'; }
      static get properties() {
        return {
          estrategia: {
            type: String
          },
          serie:{
            type: String
          },
          colocado:{
            type: Number
          },
          emitido: {
            type: Number
          },
          femision: {
            type: Date
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }

      registro(){
        var registerData = {"estrategia":this.estrategia , "serie":this.serie , "montoEmitido":this.emitido , "montoColocado": this.colocado , "fechaEmision":this.femision , "sucursal":"Polanco"};
        console.log('registro'+registerData);
        this.$.doRegister.body = JSON.stringify(registerData);
        this.$.doRegister.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado=true;
      }

      showError(error){
        console.log("Hubo un error");
        alert("Datos Ingresados incorrectos, valide");
        console.log(error);
      }
    }

    window.customElements.define(AltaProducto.is, AltaProducto);
  </script>
</dom-module>
