<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/polymer/polymer-bootstrap.html">
<link rel="import" href="/src/login-app/login-app.html">
<link rel="import" href="/src/gestor-clientes/gestor-clientes.html">

Access-Control-Allow-Origin: *

<dom-module id="alta-usuario">
  <template>
    <style include="polymer-bootstrap">
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="form-group" hidden$={{logado}}>
        <h4>Registro Usuario</h4>
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Usuario:</label>
          <input type="input" class="form-control" value="{{usuario::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Nombre:</label>
          <input type="input" class="form-control" value="{{nombre::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Apellidos:</label>
          <input type="input" class="form-control" value="{{apellidos::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Email:</label>
          <input type="email" class="form-control" value="{{email::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
          <label>Password:</label>
          <input type="password" class="form-control" value="{{password::input}}">
      </div>
      <div class="form-group" hidden$={{logado}}>
        <h5></h5>
        <button on-click="registro" type="button" name="button" class="btn btn-primary btn-lg btn-block">Alta Usuario</button>
      </div>
      <div class="form-group" hidden$={{!logado}}>
        <span>Usuario Registrado Exitosamente</span>
        <login-app></login-app>
        <!--<button on-click="registerUser" type="button" class="btn btn-link" id="loginLink">Login</button>-->
      </div>
    </div>

    <iron-ajax
      id="doUser"
      url="http://localhost:3000/usuarios/alta"
      content-type="application/json"
      crossDomain: true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          nombre:{
            type: String
          },
          apellidos:{
            type: String
          },
          password: {
            type: String
          },
          email: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          alta:{
            type: Boolean,
            value: false
          }
        };
      }

      registro(){
        var registerData = {"usuario":this.usuario , "nombre":this.nombre , "apellidos":this.apellidos , "email": this.email , "password":this.password};
        console.log('registro'+JSON.stringify(registerData));
        console.log("Peticion enviada");
        this.$.doUser.body = JSON.stringify(registerData);
        this.$.doUser.generateRequest();
      }

      registerUser(){
        alert(this.logado);
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        this.logado=true;
      }

      showError(error){
        console.log("Hubo un error");
        alert("Datos Ingresados incorrectos, valide");
        console.log(error);
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
